* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

body {
    background-color: lightblue;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main {
    margin: 10px;
}

.header, .footer {
    padding: 20px;
    background-color: white;
}

/* Header */

.header, .site-header {
    justify-content: center;
}

/* Title */

.title, .logo {
    padding: 2em;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 0.5em;
    }
    .title {
        min-width: 60%;
    }
    .logo {
        max-width: 40%;
    }
}

.title * {
    color: #333;
}

.title p {
    font-style: normal;
}

/* Footer */

.footer {
    justify-content: center;
    background-color: #f0f0f0;
}

.footer a {
    color: #555;
}

.footer .social {
    font-size: 1.5rem;
}

/* Typography */

body {
    font-family: Arial, sans-serif;
    line-height: 1.7rem;
    color: #333;
}

p, td, th, li, dd {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 0.5em;
}

img {
    border-radius: 5px;
}
